
/* Application Container */
.App {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  font-size: 1.125rem;
}

/* Heading Styles */
h1 {
  font-size: 5rem; /* Large font size for headings */
  color: #000; /* Black color for headings */
  margin-bottom: 1rem; /* Space below headings */
}

/* Paragraph Styles */
p {
  font-size: 1.25rem; /* Font size for paragraphs */
  color: #000; /* Black color for paragraphs */
  margin-bottom: 1rem; /* Space below paragraphs */
}

/* Weather Information Styles */
.weather-info {
  background-color: #e3f2fd; /* Light blue background for weather information */
  padding: 20px; /* Padding around weather information */
  margin: 20px 0; /* Margin above and below weather information */
  border-radius: 8px; /* Rounded corners for weather information */
}

/* Error Message Styles */
div.Error {
  color: #d32f2f; /* Red color for error messages */
  background-color: #ffcdd2; /* Light red background for error messages */
  padding: 10px; /* Padding around error messages */
  margin-bottom: 1rem; /* Space below error messages */
  border-radius: 8px; /* Rounded corners for error messages */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Slightly smaller font size for medium screens */
  }

  p {
    font-size: 1rem; /* Smaller font size for paragraphs on medium screens */
  }
}

@media (max-width: 480px) {
  .App {
    padding: 15px; /* Reduced padding for smaller screens */
  }

  h1 {
    font-size: 1.75rem; /* Smaller font size for headings on small devices */
  }

  p {
    font-size: 0.9rem; /* Smaller font size for paragraphs on small screens */
  }

  .weather-info {
    padding: 15px; /* Reduced padding for weather information on small screens */
  }
}
